html {

	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	overflow: hidden;

	-webkit-text-size-adjust: 100%;
	-ms-touch-action: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: helvetica;
	font-size: 10pt;
}

.footer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	font-size: 15px;
}

.profil {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-x: auto;
	font-size: 20px;
	margin-bottom: 15%;
	width: 70%;
	height: 100%;
}

.profil div {
	display: flex;
	justify-content: space-between;
}

@media all and (max-width: 500px) {
	.profil {
		width: 100%;
	}

	.profil div {
		flex-direction: column;
	}

	.profil-element {

	}
}

.profil-label {
	margin: 10px;
	min-width: 10%;
}

.profil-element  {
	margin: 10px;
}
